
<% if params[:controller]=='about' %>
  <div class="well">
    <h3>Location info:</h3>
    <ul>
      <li>The BookStore</li>
      <li>499 Massachussets Ave, Unit 2</li>
      <li>Boston, MA 02110</li>
      <li>Phone: (617) 555-5555</li>
      <li>Email: support@thebookstore.com</li>
    </ul>
  </div>

<% elsif (params[:controller]=='books' || params[:controller]=='categories') and (params[:action]=='index' || params[:action]=='show') %>
  <h3>Categories</h3>
  <div class="list-group">
    <% @categories.each do |category|  %>
      <%= link_to category.name, category_path(category), class: 'list-group-item' %>
    <% end %>
  </div>
<% end %>